<!DOCTYPE html>
<html lang="en-US" class="cmsmasters_html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <base href='@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))' />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="pingback" href="/xmlrpc.html" />
    <title>@ViewBag.Title - Oficina de Português - Learning Portuguese in Portugal</title>
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Oficina de Português &raquo; Feed" href="/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Language School &raquo; Comments Feed" href="/comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "http:\/\/language-school.cmsmasters.net\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.6" } };
        !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55357, 56692, 8205, 9792, 65039], [55357, 56692, 8203, 9792, 65039]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);</script>
    <style type="text/css">

        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='validate-engine-css-css' href='/wp-content/plugins/wysija-newsletters/css/validationEngine.jquery4dc3.css?ver=2.8.2' type='text/css' media='all' />
    <link rel='stylesheet' id='lp-course-wishlist-style-css' href='/wp-content/plugins/learnpress-wishlist/assets/css/wishlist1845.css?ver=4.9.6' type='text/css' media='all' />
    <link rel='stylesheet' id='layerslider-css' href='/wp-content/plugins/LayerSlider/static/layerslider/css/layerslider7a2d.css?ver=6.7.6' type='text/css' media='all' />
    <link rel='stylesheet' id='ls-user-css' href='/wp-content/uploads/layerslider.custom7a2d.css?ver=6.7.6' type='text/css' media='all' />
    <link rel='stylesheet' id='ls-google-fonts-css' href='http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700%7CPoppins:300,600&amp;subset=latin%2Clatin-ext' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='/wp-content/plugins/contact-form-7/includes/css/styles972f.css?ver=5.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='cookie-notice-front-css' href='/wp-content/plugins/cookie-notice/css/front.min1845.css?ver=4.9.6' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='/wp-content/plugins/revslider/public/assets/css/settings26ce.css?ver=5.4.7.4' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>

        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='timetable_font_lato-css' href='http://fonts.googleapis.com/css?family=Lato%3A400%2C700&amp;ver=4.9.6' type='text/css' media='all' />
    <link rel='stylesheet' id='theme-style-css' href='/wp-content/themes/language-school/style8a54.css?ver=1.0.0' type='text/css' media='screen, print' />
    <link rel='stylesheet' id='theme-adapt-css' href='/wp-content/themes/language-school/css/adaptive8a54.css?ver=1.0.0' type='text/css' media='screen, print' />
    <link rel='stylesheet' id='theme-retina-css' href='/wp-content/themes/language-school/css/retina8a54.css?ver=1.0.0' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-icons-css' href='/wp-content/themes/language-school/css/fontello8a54.css?ver=1.0.0' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-icons-custom-css' href='/wp-content/themes/language-school/css/fontello-custom8a54.css?ver=1.0.0' type='text/css' media='screen' />
    <link rel='stylesheet' id='animate-css' href='/wp-content/themes/language-school/css/animate8a54.css?ver=1.0.0' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-cmsmasters-events-style-css' href='/wp-content/themes/language-school/css/cmsmasters-events-style8a54.css?ver=1.0.0' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-cmsmasters-events-adaptive-css' href='/wp-content/themes/language-school/css/cmsmasters-events-adaptive8a54.css?ver=1.0.0' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-cmsmasters-timetable-style-css' href='/wp-content/themes/language-school/css/cmsmasters-timetable-style8a54.css?ver=1.0.0' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-cmsmasters-timetable-adaptive-css' href='/wp-content/themes/language-school/css/cmsmasters-timetable-adaptive8a54.css?ver=1.0.0' type='text/css' media='screen' />
    <link rel='stylesheet' id='learn-press-css' href='/wp-content/plugins/learnpress/assets/css/learnpress8571.css?ver=3.0.7' type='text/css' media='all' />
    <link rel='stylesheet' id='theme-cmsmasters-learnpress-style-css' href='/wp-content/themes/language-school/css/cmsmasters-learnpress-style8a54.css?ver=1.0.0' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-cmsmasters-learnpress-adaptive-css' href='/wp-content/themes/language-school/css/cmsmasters-learnpress-adaptive8a54.css?ver=1.0.0' type='text/css' media='screen' />
    <link rel='stylesheet' id='ilightbox-css' href='/wp-content/themes/language-school/css/ilightbox3601.css?ver=2.2.0' type='text/css' media='screen' />
    <link rel='stylesheet' id='ilightbox-skin-dark-css' href='/wp-content/themes/language-school/css/ilightbox-skins/dark-skin3601.css?ver=2.2.0' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-fonts-schemes-css' href='/wp-content/uploads/cmsmasters_styles/language-school8a54.css?ver=1.0.0' type='text/css' media='screen' />
    <!--[if lte IE 9]>
    <link rel='stylesheet' id='theme-fonts-css'  href='http://language-school.cmsmasters.net/wp-content/uploads/cmsmasters_styles/language-school_fonts.css?ver=1.0.0' type='text/css' media='screen' />
    <![endif]-->
    <!--[if lte IE 9]>
    <link rel='stylesheet' id='theme-schemes-primary-css'  href='http://language-school.cmsmasters.net/wp-content/uploads/cmsmasters_styles/language-school_colors_primary.css?ver=1.0.0' type='text/css' media='screen' />
    <![endif]-->
    <!--[if lte IE 9]>
    <link rel='stylesheet' id='theme-schemes-secondary-css'  href='http://language-school.cmsmasters.net/wp-content/uploads/cmsmasters_styles/language-school_colors_secondary.css?ver=1.0.0' type='text/css' media='screen' />
    <![endif]-->
    <!--[if lt IE 9]>
    <link rel='stylesheet' id='theme-ie-css'  href='http://language-school.cmsmasters.net/wp-content/themes/language-school/css/ie.css?ver=1.0.0' type='text/css' media='screen' />
    <![endif]-->
    <link rel='stylesheet' id='cmsmasters-google-fonts-css' href='http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C700%2C700italic%7CPoppins%3A300%2C400%2C500%2C600%2C700%7CRaleway%3A300%2C400%2C500%2C600%2C700&amp;ver=4.9.6' type='text/css' media='all' />
    <link rel='stylesheet' id='lp-fib-question-css-css' href='/wp-content/plugins/learnpress-fill-in-blank/assets/css/fib1845.css?ver=4.9.6' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-ui-smoothness-css' href='/wp-content/plugins/contact-form-7/includes/js/jquery-ui/themes/smoothness/jquery-ui.mine899.css?ver=1.11.4' type='text/css' media='screen' />
    <link rel='stylesheet' id='font-awesome-css' href='/wp-content/plugins/learnpress/assets/css/font-awesome.min8571.css?ver=3.0.7' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-scrollbar-css' href='/wp-content/plugins/learnpress/assets/js/vendor/jquery-scrollbar/jquery.scrollbar8571.css?ver=3.0.7' type='text/css' media='all' />
    @Scripts.Render("/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4")
    @Scripts.Render("/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1")
    <script type='text/javascript'>
        /* <![CDATA[ */
        var TribeMiniCalendar = { "ajaxurl": "http:\/\/language-school.cmsmasters.net\/wp-admin\/admin-ajax.php" };
        /* ]]> */
    </script>
    @Scripts.Render("/wp-content/plugins/events-calendar-pro/src/resources/js/widget-calendar9965.js?ver=4.4.25")
    @Scripts.Render("/wp-content/plugins/learnpress-wishlist/assets/js/wishlist1845.js?ver=4.9.6")
    <script type='text/javascript'>
        /* <![CDATA[ */
        var LS_Meta = { "v": "6.7.6" };
        /* ]]> */
    </script>
    @Scripts.Render("/wp-content/plugins/LayerSlider/static/layerslider/js/greensockb3a6.js?ver=1.19.0")
    @Scripts.Render("/wp-content/plugins/LayerSlider/static/layerslider/js/layerslider.kreaturamedia.jquery7a2d.js?ver=6.7.6")
    @Scripts.Render("/wp-content/plugins/LayerSlider/static/layerslider/js/layerslider.transitions7a2d.js?ver=6.7.6")
    <script type='text/javascript'>
        /* <![CDATA[ */
        var cnArgs = { "ajaxurl": "http:\/\/language-school.cmsmasters.net\/wp-admin\/admin-ajax.php", "hideEffect": "fade", "onScroll": "", "onScrollOffset": "100", "cookieName": "cookie_notice_accepted", "cookieValue": "true", "cookieTime": "2592000", "cookiePath": "\/", "cookieDomain": ".language-school.cmsmasters.net", "redirection": "", "cache": "", "refuse": "no", "revoke_cookies": "0", "revoke_cookies_opt": "automatic", "secure": "0" };
        /* ]]> */
    </script>
    @Scripts.Render("/wp-content/plugins/cookie-notice/js/front.minfe9e.js?ver=1.2.44")
    @Scripts.Render("/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min26ce.js?ver=5.4.7.4")
    @Scripts.Render("/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min26ce.js?ver=5.4.7.4")
    @Scripts.Render("/wp-content/themes/language-school/js/jsLibraries.min8a54.js?ver=1.0.0")
    @Scripts.Render("/wp-content/themes/language-school/js/jquery.iLightBox.min3601.js?ver=2.2.0")
    @Scripts.Render("/wp-content/plugins/learnpress-fill-in-blank/assets/js/fib1845.js?ver=4.9.6")
    @Scripts.Render("/wp-content/plugins/learnpress/assets/js/vendor/watch8571.js?ver=3.0.7")
    @Scripts.Render("/wp-content/plugins/learnpress/assets/js/vendor/jquery.alert8571.js?ver=3.0.7")
    @Scripts.Render("/wp-content/plugins/learnpress/assets/js/vendor/circle-bar8571.js?ver=3.0.7")
    @Scripts.Render("/wp-content/plugins/the-events-calendar/common/src/resources/js/underscore-before.js")
    @Scripts.Render("/wp-includes/js/underscore.min4511.js?ver=1.8.3")
    @Scripts.Render("/wp-content/plugins/the-events-calendar/common/src/resources/js/underscore-after.js")
    <script type='text/javascript'>
        /* <![CDATA[ */
        var userSettings = { "url": "\/", "uid": "0", "time": "1529360696", "secure": "" };
        /* ]]> */
    </script>
    @Scripts.Render("/wp-includes/js/utils.min1845.js?ver=4.9.6")
    @Scripts.Render("/wp-content/plugins/learnpress/assets/js/global8571.js?ver=3.0.7")
    @Scripts.Render("/wp-content/plugins/learnpress/assets/js/vendor/jquery-scrollbar/jquery.scrollbar8571.js?ver=3.0.7")
    @Scripts.Render("/wp-content/plugins/learnpress/assets/js/frontend/learnpress8571.js?ver=3.0.7")
    @Scripts.Render("/wp-content/plugins/learnpress/assets/js/frontend/course8571.js?ver=3.0.7")
    @Scripts.Render("/wp-content/plugins/learnpress/assets/js/vendor/jquery.scrollTo8571.js?ver=3.0.7")
    @Scripts.Render("/wp-content/plugins/learnpress/assets/js/frontend/become-teacher8571.js?ver=3.0.7")
    <meta name="generator" content="Powered by LayerSlider 6.7.6 - Multi-Purpose, Responsive, Parallax, Mobile-Friendly Slider Plugin for WordPress." />
    <!-- LayerSlider updates and docs at: https://layerslider.kreaturamedia.com -->
    <link rel='https://api.w.org/' href='/wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.html?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.9.6" />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <link rel="alternate" type="application/json+oembed" href="wp-json/oembed/1.0/embed0f8f.json?url=http%3A%2F%2Flanguage-school.cmsmasters.net%2F" />
    <link rel="alternate" type="text/xml+oembed" href="wp-json/oembed/1.0/embed8769?url=http%3A%2F%2Flanguage-school.cmsmasters.net%2F&amp;format=xml" />
    <meta name="tec-api-version" content="v1">
    <meta name="tec-api-origin" content="http://language-school.cmsmasters.net">
    <link rel="https://theeventscalendar.com/" href="wp-json/tribe/events/v1/index.html" />
    <link rel='stylesheet' id='site-css' href='/Content/Site.css?v=1.0' type='text/css' />
    <meta name="generator" content="Powered by Slider Revolution 5.4.7.4 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <link rel="icon" href="wp-content/uploads/2016/01/favicon.png" sizes="32x32" />
    <link rel="icon" href="wp-content/uploads/2016/01/favicon.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="wp-content/uploads/2016/01/favicon.png" />
    <meta name="msapplication-TileImage" content="http://language-school.cmsmasters.net/wp-content/uploads/2016/01/favicon.png" />
    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c); var i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) { var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) { var c = e.fullScreenOffsetContainer.split(","); if (c) jQuery.each(c, function (e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0)) } f = u } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight); e.c.closest(".rev_slider_wrapper").css({ height: f })
            } catch (d) { console.log("Failure at Presize of Slider:" + d) }
        };</script>
    @*@Styles.Render("/Content/css")
        @Scripts.Render("/bundles/modernizr")*@
</head>
<body class="page-template-default page page-id-5436 cookies-not-set tribe-no-js">

    <!-- _________________________ Start Page _________________________ -->
    <div id="page" class="csstransition cmsmasters_boxed fixed_header enable_header_top cmsmasters_heading_after_header hfeed site">
        <div id='tt_booking_popup_message' class='tt_hide'>
            <div class='tt_booking_message_wrapper'>
                <div class='tt_booking_message' data-event-hour-id></div>
                <div class='tt_preloader tt_hide'>
                    <div class='bounce1'></div>
                    <div class='bounce2'></div>
                    <div class='bounce3'></div>
                </div>
            </div>
        </div>
        <!-- _________________________ Start Main _________________________ -->
        <div id="main">
            @{
                Html.RenderPartial("_Header");
            }
            <!-- _________________________ Start Middle _________________________ -->
            @RenderSection("middle")
            <!-- _________________________ Start Bottom _________________________ -->
            <div id="bottom" class="cmsmasters_color_scheme_bottom">
                <div class="bottom_bg">
                    <div class="bottom_outer">
                        <div class="bottom_inner sidebar_layout_14141414">
                            <aside id="text-5" class="widget widget_text">
                                <div class="textwidget">
                                    <p style="padding:0 0 36px;"><img src="wp-content/uploads/2016/01/logo_footer.png" alt="" /></p>
                                    <p>Lorem ipsum dolor sit amet nsectetur cing elit. Suspe ndisse suscipit sagittis leo sit met entum estibulum dignissim posuere cubilia  deleniti atque corrupti quos dolores vero eos et accusamu.</p>
                                </div>
                            </aside><aside id="text-3" class="widget widget_text">
                                <h3 class="widgettitle">About School</h3>			<div class="textwidget">
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Our Staff</a></li>
                                        <li><a href="#">Our Partners</a></li>
                                        <li><a href="#">Careers</a></li>
                                    </ul>
                                </div>
                            </aside><aside id="text-2" class="widget widget_text">
                                <h3 class="widgettitle">Programmes</h3>			<div class="textwidget">
                                    <ul>
                                        <li><a href="#">Long-term Programmes</a></li>
                                        <li><a href="#">Intensive Programmes</a></li>
                                        <li><a href="#">Specialized Programme</a></li>
                                        <li><a href="#">Language Trainings</a></li>
                                    </ul>
                                </div>
                            </aside><aside id="custom-contact-info-2" class="widget widget_custom_contact_info_entries"><h3 class="widgettitle">Contact Info</h3><span class="contact_widget_email cmsmasters_theme_icon_user_mail"><a class="email" href="mailto:ex&#97;m&#112;&#108;e&#64;l&#97;&#110;&#103;&#117;ag%65-s&#99;%68o&#111;%6c&#46;&#99;o&#109;">&#101;xam&#112;&#108;e&#64;&#108;&#97;ngu&#97;&#103;e&#45;s&#99;&#104;&#111;&#111;&#108;&#46;&#99;o&#109;</a></span><span class="contact_widget_phone cmsmasters_theme_icon_user_phone"><span class="tel">Call Us: 1-800-123-1234</span></span><div class="adr adress_wrap cmsmasters_theme_icon_user_address"><span class="street-address contact_widget_address">Brooklyn, NY 10036, United States </span></div></aside>
                        </div>
                    </div>
                </div>
            </div>
            <!-- _________________________ Finish Bottom _________________________ -->
            <a href="javascript:void(0);" id="slide_top" class="cmsmasters_theme_icon_slide_top"></a>
        </div>

        @RenderSection("scripts", required: false)

        <script>
            (function (body) {
                'use strict';
                body.className = body.className.replace(/\btribe-no-js\b/, 'tribe-js');
            })(document.body);
        </script>
        <script>/* <![CDATA[ */var tribe_l10n_datatables = { "aria": { "sort_ascending": ": activate to sort column ascending", "sort_descending": ": activate to sort column descending" }, "length_menu": "Show _MENU_ entries", "empty_table": "No data available in table", "info": "Showing _START_ to _END_ of _TOTAL_ entries", "info_empty": "Showing 0 to 0 of 0 entries", "info_filtered": "(filtered from _MAX_ total entries)", "zero_records": "No matching records found", "search": "Search:", "all_selected_text": "All items on this page were selected. ", "select_all_link": "Select all pages", "clear_selection": "Clear Selection.", "pagination": { "all": "All", "next": "Next", "previous": "Previous" }, "select": { "rows": { "0": "", "_": ": Selected %d rows", "1": ": Selected 1 row" } }, "datepicker": { "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"], "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"], "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "monthNamesShort": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "nextText": "Next", "prevText": "Prev", "currentText": "Today", "closeText": "Done" } };/* ]]> */</script>
        @Scripts.Render("/wp-content/plugins/cmsmasters-mega-menu/js/jquery.megaMenu578f.js?ver=1.2.6")
        <script type='text/javascript'>
            /* <![CDATA[ */
            var wpcf7 = { "apiSettings": { "root": "http:\/\/language-school.cmsmasters.net\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "recaptcha": { "messages": { "empty": "Please verify that you are not a robot." } }, "jqueryUi": "1" };
            /* ]]> */
        </script>
        @Scripts.Render("/wp-content/plugins/contact-form-7/includes/js/scripts972f.js?ver=5.0.1")
        @Scripts.Render("/wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4")
        @Scripts.Render("/wp-includes/js/jquery/ui/widget.mine899.js?ver=1.11.4")
        @Scripts.Render("/wp-includes/js/jquery/ui/tabs.mine899.js?ver=1.11.4")
        @Scripts.Render("/wp-content/plugins/timetable/js/jquery.ba-bbq.min1845.js?ver=4.9.6")
        @Scripts.Render("/wp-content/plugins/timetable/js/jquery.carouFredSel-6.2.1-packed1845.js?ver=4.9.6")
        <script type='text/javascript'>
            /* <![CDATA[ */
            var tt_config = [];
            tt_config = { "ajaxurl": "http:\/\/language-school.cmsmasters.net\/wp-admin\/admin-ajax.php" };;
            /* ]]> */
        </script>
        @Scripts.Render("/wp-content/plugins/timetable/js/timetable1845.js?ver=4.9.6")
        <script type='text/javascript'>
            /* <![CDATA[ */
            var cmsmasters_jlibs = { "button_height": "-18" };
            /* ]]> */
        </script>
        @Scripts.Render("/wp-content/themes/language-school/js/jqueryLibraries.min8a54.js?ver=1.0.0")
        @Scripts.Render("/wp-content/themes/language-school/js/scrollspy8a54.js?ver=1.0.0")
        <script type='text/javascript'>
            /* <![CDATA[ */
            var cmsmasters_script = { "theme_url": "http:\/\/language-school.cmsmasters.net\/wp-content\/themes\/language-school", "site_url": "http:\/\/language-school.cmsmasters.net\/", "ajaxurl": "http:\/\/language-school.cmsmasters.net\/wp-admin\/admin-ajax.php", "nonce_ajax_like": "31a9fdc108", "primary_color": "#01a2a6", "ilightbox_skin": "dark", "ilightbox_path": "vertical", "ilightbox_infinite": "0", "ilightbox_aspect_ratio": "1", "ilightbox_mobile_optimizer": "1", "ilightbox_max_scale": "1", "ilightbox_min_scale": "0.2", "ilightbox_inner_toolbar": "0", "ilightbox_smart_recognition": "0", "ilightbox_fullscreen_one_slide": "0", "ilightbox_fullscreen_viewport": "center", "ilightbox_controls_toolbar": "1", "ilightbox_controls_arrows": "0", "ilightbox_controls_fullscreen": "1", "ilightbox_controls_thumbnail": "1", "ilightbox_controls_keyboard": "1", "ilightbox_controls_mousewheel": "1", "ilightbox_controls_swipe": "1", "ilightbox_controls_slideshow": "0", "ilightbox_close_text": "Close", "ilightbox_enter_fullscreen_text": "Enter Fullscreen (Shift+Enter)", "ilightbox_exit_fullscreen_text": "Exit Fullscreen (Shift+Enter)", "ilightbox_slideshow_text": "Slideshow", "ilightbox_next_text": "Next", "ilightbox_previous_text": "Previous", "ilightbox_load_image_error": "An error occurred when trying to load photo.", "ilightbox_load_contents_error": "An error occurred when trying to load contents.", "ilightbox_missing_plugin_error": "The content your are attempting to view requires the <a href='{pluginspage}' target='_blank'>{type} plugin<\\\/a>." };
            /* ]]> */
        </script>
        @Scripts.Render("/wp-content/themes/language-school/js/jquery.script8a54.js?ver=1.0.0")
        @Scripts.Render("/wp-content/themes/language-school/js/jquery.tweet.mine7f0.js?ver=1.3.1")
        @Scripts.Render("/wp-includes/js/comment-reply.min1845.js?ver=4.9.6")
        @Scripts.Render("/wp-includes/js/jquery/ui/datepicker.mine899.js?ver=1.11.4")
        <script type='text/javascript'>
            jQuery(document).ready(function (jQuery) { jQuery.datepicker.setDefaults({ "closeText": "Close", "currentText": "Today", "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "monthNamesShort": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], "nextText": "Next", "prevText": "Previous", "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"], "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"], "dateFormat": "MM d, yy", "firstDay": 1, "isRTL": false }); });
        </script>
        @Scripts.Render("/wp-includes/js/jquery/ui/button.mine899.js?ver=1.11.4")
        @Scripts.Render("/wp-includes/js/jquery/ui/spinner.mine899.js?ver=1.11.4")
        @Scripts.Render("/wp-includes/js/wp-embed.min1845.js?ver=4.9.6")
    </div>
</body>
</html>